<md-content>
	<md-toolbar>
		<h1 class="md-toolbar-tools">
			<span>Microservices by Example</span>
		</h1>
	</md-toolbar>

	<md-tabs md-selected="selectedIndex">
		<md-tab ng-repeat="tab in tabs" md-on-select="announceSelected(tab)" md-on-deselect="announceDeselected(tab)" ng-disabled="tab.disabled" label="{{tab.title}}">
			<div class="demo-tab tab{{$index%4}}" layout="column" layout-fill layout-align="space-around">
				<md-toolbar md-theme="green">
					<h2 class="md-toolbar-tools">
						<span>Search for your Flight</span>
					</h2>
				</md-toolbar>
				<md-content>
					<form>
						<div layout="row" layout-align="center" class="grid">
		        			<md-text-float label="Title" ng-model="searchParams.title" class="padded"></md-text-float>
		        			<md-text-float label="eMail" ng-model="searchParams.email" class="padded"></md-text-float>
						</div>
						<div layout="row" layout-align="center" class="grid">
							<md-button class="md-raised md-primary" ng-click="search(searchParams)">Search</md-button>
						</div>
					</form><br>
				</md-content>

				<md-toolbar md-theme="green" ng-hide="offers === undefined || loading.offers">
					<h2 class="md-toolbar-tools">
						<span>Your Offers</span>
					</h2>
				</md-toolbar>
				<div layout="row" layout-align="center" layout-sm="column" layout-align="space-around" ng-show="loading.offers">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
				<div layout="row" layout-align="center" class="grid" ng-hide="offers === undefined || loading.offers">
					<md-card ng-repeat="offer in offers" flex="30">
						<img ng-src="img/{{offer.logo}}" alt="Washed Out">
						<h2 ng-bind="offer.cost | currency"></h2>
						<h4 ng-bind="offer.aircraft" />
						<h4 ng-bind="offer.flight" />
						<h4 ng-bind="offer.start" />
						<h4 ng-bind="offer.end" />
					</md-card>
				</div>
			</div>
		</md-tab>
	</md-tabs>
</md-content>